<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NX_GIC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <NX_GIC.Properties.Settings>
            <setting name="IPAddress" serializeAs="String">
                <value>192.168.0.0</value>
            </setting>
            <setting name="GitHubs" serializeAs="String">
                <value>hotshotz79/NX-Custom-Game-Icons;sodasoba1/NSW-Custom-Game-Icons</value>
            </setting>
            <setting name="ZoomLevel" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="TitleDB" serializeAs="String">
                <value>https://raw.githubusercontent.com/blawar/titledb/master/US.en.json</value>
            </setting>
            <setting name="OfflineStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="csvInstalled" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPUser" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPPass" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPPort" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="SGDBapi" serializeAs="String">
                <value />
            </setting>
        </NX_GIC.Properties.Settings>
    </userSettings>
</configuration>
